.header
  .title
    h1 校园卡招领
      small 合肥工业大学宣城校区
  ._form
    form(method="get", action="http://localhost:3000/lostedcard/search")
      .form-group
        input(type="text", name="search", class="form-control", placeholder="请输入学号", id="search")
        button(type="submit" class="btn btn-default" id="_button") 搜索
  .clear