#search{
	width: 250px;
	height: 40px;
	display: inline-block;
	outline: none;
}
#_button{
	height: 40px;
	width: 75px;
	margin-bottom: 2px;
	margin-left: 5px;
}
._table{
	text-align: center;
	margin: 20px 0 auto;
}
._table thead tr th{
	text-align: center;
}
.footer{
	position: fixed;
  left: 0;
  bottom: 0;
	background-color: #eee;
	width: 100%;
	height: 80px;
	text-align: center;
	margin-top: 20px;
}
.footer span{
	line-height: 80px;
}
._form{
	line-height: 80px;
}

.form-group{
	margin: 0;
}
.title small{
	font-weight: 400;
	line-height: 1;
	color: #777;
}
.header{
	height: 80px;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-between;
}
.pagination{
	text-align: center;
	display: inline-block;
	width: 100%;
}
.pagination button{
	display: inline-block;
}
.prev,.next{
	margin-right: 20px;
}
@media screen and (max-width: 1000px){
	.header{
		display: flex;
		flex-wrap: wrap;
	}
	._form{
		margin-top: 10px;
	}
	._table{
		margin: 80px 0 auto;
	}
	.panel{
		margin-top: 80px;
	}
}
@media screen and (max-width: 450px){
	.header{
		display: flex;
		flex-wrap: wrap;
		height: 70px;
	}
	._form{
		margin-top: 10px;
	}
	._table{
		margin: 80px 0 auto;
	}
	.panel{
		margin-top: 80px;
	}
	.title h1{
		font-size: 25px;
	}
	#search{
		width: 200px;
		height: 35px;
	}
	#_button{
		height: 35px;
	}
	table{
		font-size: 12px;
	}
	.footer{
		font-size: 12px;
	}
}