extends ../layout
block content
  .panel.panel-default
    .panel-heading 搜索结果
    if lostedcard 
      .panel-body
        table(class="table")
          thead
            tr
              th 卡号
              th 发布时间
              th 丢失地点
          tbody        
              tr
                td #{lostedcard.cardid}
                td #{moment(lostedcard.create_at).format('YYYY/MM/DD')}
                td #{lostedcard.lostedplace}
    else
      .panel-body 没有您的卡？告诉我们你的学号，我们会在回收到您的卡后第一时间通知您！
      .panel-body
        from(class="form-inline")
          .form-group
            label(for="studentId" class="studentId") 学号
            input(class="form-control" placeholder="" id="studentId")
          .form-group
            label(for="email" class="email") 邮箱    
            input(class="form-control" placeholder="" id="email")
          .form-group
            button(type="submit" class="btn btn-default sub") 提交
