doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 登录
		link(href="../../public/css/bootstrap.min.css", rel="stylesheet")
		link(href="../../public/css/login.css", rel="stylesheet")
	body
		.container
			form.form-signin
				h2.form-signin-heading 校园卡找回
				label(for="inputUsername") 用户名
				input(id="inputUsername", class="form-control", placeholder="用户名")
				label(for="inputPassword") 密码
				input(type="password", id="inputPassword", class="form-control", placeholder="密码")
				button(class="btn btn-lg btn-primary btn-block", type="submit") 登录


